@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

/* font-family: 'Miama', sans-serif; */


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.body {
    /* background-color: black; */
}

main {
    max-width: 1440px;
    margin: 0 auto;
}


/* Habit Section */

.habit {
    background-color: salmon;
    padding: 0 50px 100px 50px;
}

.habit-content {
    align-items: center;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 5px;
    text-align: center;
}

.description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

.habit-pic-contain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.pic-div {
    /* Frame 22 */
    position: static;
    width: 231px;
    height: 274px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 40px;
}

.habit-image {
    width: 100%;
    border-radius: 50%;
}

.habit-title {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}

.habit-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: .9rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
}


/* Run Section Style */

.run {
    display: flex;
    justify-content: center;
    gap: 170px;
    background-color: salmon;
    padding: 30px;
    margin-top: 100px;
    display: flex;
}

.run-content {
    width: 443px;
    height: 290px;
}

.run-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 5px;
}

.run-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}

.run-btn {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;

    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}

.run-image-div {
    /* Below code for Zoom */
    display: inline-grid;
    overflow: hidden;
    border-radius: 18px;
}

.run-image-div img {
    width: 366px;
    height: 312px;
    /* Below code for zoom */
    transform: scale(2.5);
    transform-origin: 75% 30%;
}

/* BMI TEXT */
.bmi-text-parent {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.bmi-text {
    background-color: salmon;
}

.text-description {
    text-align: left;
}

.text-title {
    text-align: left;
}

/* BMI Section Style */

.bmi-parent {
    display: flex;
    justify-content: center;
    background-color: rgb(141, 12, 12);
    margin-top: 50px;
}

.bmi {
    display: flex;
    width: 1440px;
    background-color: salmon;
    padding: 25px;
    justify-content: space-between;
}

.bmi-title {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 900;
    text-align: left;
}

.table-div table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 25px;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

th {
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
    font-weight: 500;
    text-align: left;
}

.form-div {
    width: 577px;
    height: 440px;
}

.bmi-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}

.form-input-text{
    width: 40%;
    height: 35px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;


}

.form-select1 {
    width: 47%;
    height: 55px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    color: rgba(108, 92, 92, 0.975);
}

.form-select2 {
    width: 96%;
    height: 55px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    color: rgba(108, 92, 92, 0.975);
}

.btn-form {
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    margin-top: 18px;
    border: none;

    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}




/* Team Section Style */

.team {
    background-color: salmon;
    padding: 1px 10px 20px 50px;
    margin-top: 100px;
}

.team-image-title {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin: 1px;
}

.team-image-description {
    margin: 10px;
    font-size: 1.2rem;
    color: rgba(219, 201, 201, 0.769)
}


.team-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
}

.box img {
    width: 430px;
    height: 420px;
    border-radius: 20px;
}

/* box 1 */
.team-box1 {
    position: relative;
}

.team-text1 {
    position: absolute;
    top: 70%;
    padding: 20px;
}

/* box 2 */
.team-box2 {
    position: relative;
}

.team-text2 {
    position: absolute;
    top: 70%;
    padding: 20px;
}

/* box 3 */
.team-box3 {
    position: relative;
}

.team-text3 {
    position: absolute;
    top: 70%;
    padding: 20px;
}

/* box 4 */
.team-box4 {
    position: relative;
}

.team-text4 {
    position: absolute;
    top: 70%;
    padding: 20px;
}

/* box 5 */
.team-box5 {
    position: relative;
}

.team-text5 {
    position: absolute;
    top: 70%;
    padding: 20px;
}

/* box 6 */
.team-box6 {
    position: relative;
}

.team-text6 {
    position: absolute;
    top: 70%;
    padding: 20px;
}


/* Full Footer Style */

footer {
    margin: 0 auto;
    margin-top: 100px;
    background-color: black;
}

.foot {
    display: flex;
    justify-content: center;
    gap: 300px;
    padding: 30px;
}

.foot-fitness {
    color: rgb(230, 83, 60);
    font-size: 4rem;
    font-weight: 800;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
}

.foot-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.foot-content1 {
    width: 443px;
    height: 176px;
}

.foot-get-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    text-align: right;
    margin: 5px;
}

.foot-ul li {
    font-size: 20px;
    list-style: none;
    text-align: left;
    margin-bottom: 10px;
}

.foot-ul li a {
    text-decoration: none;

    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;

}

/* Border Line */

.bordar-div {
    max-width: 1440px;
    margin: 0 auto;
}

.border-line {
    max-width: 1440px;
    border-bottom: 2px solid rgb(246, 0, 0);
}

/* Below Text */

.foot-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 5px;
}




/* Responsive for Small Device */

@media screen and (max-width: 576px) {


    /* Habit Section */
    .habit-pic-contain {
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
    }

    /* Run Section */
    .run {
        flex-direction: column;
        gap: 40px;
    }

    .btn-primary-run {
        height: 60px;
        width: 350px;
        font-size: 1.3rem;
    }

    /* Team Section */
    .team-image-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    .team {
        padding-right: 50px;
        margin-top: 100px;
    }

    .box img {
        width: 320px;
        height: 320px;
    }

    /* Footer Section */

    .foot {
        gap: 60px;
        padding: 30px;
        flex-direction: column;
    }

    .foot-get-title {
        text-align: left;
    }

    .foot-content1 {
        width: 320px;
        height: 176px;
    }

    .bordar-div {
        max-width: 300px;
    }


}